.page {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    
}
@media screen and (max-width: 475px){
    .page {
        min-width: 440px;
    }
}
@media screen and (max-width: 320px){
    .page {
        min-width: 320px;
    }
}