.header__line {
    max-width: 880px;
    margin: 41px auto 0;
    opacity: 0.7;
    border: 1px solid #545454;
}
@media screen and (max-width: 1024px){
    .header__line {
        max-width: 100%;
        margin: 33px auto 0;
    }
}
@media screen and (max-width: 768px){
    .header__line {
        max-width: 100%;
    }
}
@media screen and (max-width: 457px){
    .header__line {
        max-width: 457px;
        margin: 33px 0 0;
    }
}
@media screen and (max-width: 320px){
    .header__line {
        min-width: 100%;
        margin-top: 31px;
    }
}