.header {
    width: 880px;
    margin: 0 auto;
    padding: 45px 0 0;
}
@media screen and (max-width: 1024px){
    .header {
        width: 760px;
    }
}
@media screen and (max-width: 768px){
    .header {
        width: 440px;
    }
}
@media screen and (max-width: 457px){
    .header {
        max-width: 320px;
        padding: 33px 0 0;
    }
}
@media screen and (max-width: 320px){
    .header {
       min-width: 320px;
       padding: 28px 0 0;
    }
}