.content {
    margin: 0 auto;
    max-width: 880px;
}
@media screen and (max-width: 1024px){
    .content {
        max-width: 760px;
    }
}
@media screen and (max-width: 768px){
    .content {
        max-width: 450px;
    }
}
@media screen and (max-width: 457px){
    .content {
        min-width: 320px;
    }
}
@media screen and (max-width: 320px){
    .content {
        min-width: 282px;
    }
}