.elements__description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
@media screen and (max-width: 1024px){
    .elements__description {
        font-size: 20px;
        line-height: 24px;
    }
}