.elements__info {
    width: 246px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
@media screen and (max-width: 475px){
    .elements__info {
        width: 246px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
}
@media screen and (max-width: 320px){
    .elements__info {
        width: 246px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
}