.profile__add {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    background: transparent url(../../../images/add.svg) no-repeat center;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: auto;
    align-self: center;
    cursor: pointer;
    transition: opacity 0.3s;
}
.profile__add:hover {
    opacity: 0.3;
}
@media screen and (max-width: 768px){
    .profile__add {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 80%;
        margin: 15px auto 0;
    }
}
@media screen and (max-width: 457px){
    .profile__add {
        margin-top: 36px;
        width: 290px;
    }
}
@media screen and (max-width: 320px){
    .profile__add {
        margin-left: 0;
        margin-top: 36px;
        background-size: 16px;
    }
}