.popup__close {
    background: transparent url(../../../images/Close\ Icon.svg) no-repeat center;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -42px;
    right: -40px;
    cursor: pointer;
    border: none;
    padding: 0;
    transition: opacity 0.3s;
}
.popup__close:hover {
    opacity: 0.3;
}
@media screen and (max-width: 768px){
    .popup__close {
        width: 32px;
        height: 32px;
        right: -30px;
    }
}
@media screen and (max-width: 457px){
    .popup__close {
        width: 22px;
        height: 22px;
        top: -41px;
        right: 0px;
    }
}
@media screen and (max-width: 320px){
    .popup__close {
        width: 20px;
        height: 20px;
        top: -26px;
        right: 0px;
    }
}