.popup__close {
    background: transparent url(../../../images/Close\ Icon.svg) no-repeat center;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -76px;
    right: -40px;
}
.popup__close:hover {
    opacity: 0.3;
}
@media screen and (max-width: 320px){
    .popup__close {
        width: 20px;
        height: 20px;
        top: -60px;
        right: 0px;
    }
}