.popup__box {
    text-align: center;
    position: absolute;
    z-index: 4;
    width: 430px;
    height: 330px;
    background: #FFFFFF;
    border-radius: 10px;
    bottom: 712px;
    left: 50%;
    margin-left: -215px;
}