.profile__avatar {
    width: 168px;
    align-self: center;
}
@media screen and (max-width: 768px){
    .profile__avatar{
        width: 150px;
    }
}

@media screen and (max-width: 457px){
    .profile__avatar{
        width: auto;
        height: 127px;
    }
}