.profile__info{
    color: #FFFFFF;
    max-width: 336px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    
}
@media screen and (max-width: 457px){
    .profile__info {
        max-width: 290px;
        margin-top: 22px;
    }
}
@media screen and (max-width: 320px){
    .profile__info {
        min-width: 282px;
        margin-top: 22px;
    }
}