.footer {
    width: 880px;
    margin: 67px auto 0;
    padding-bottom: 60px;
}
@media screen and (max-width: 475px){
    .footer {
        max-width: 400px;
        margin: 45px 0 0 27px;
        padding-bottom: 36px;
    }
}
@media screen and (max-width: 320px){
    .footer {
        width: 282px;
        margin: 48px 0 0 19px;
        padding-bottom: 36px;
    }
}