.elements__item {
    background-color: white;
    width: 282px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 17px 20px 0;
    position: relative;
}
@media screen and (max-width: 1024px){
    .elements__item {
        width: 245px;
        margin: 0 8px 8px 0;
    }
}
@media screen and (max-width: 768px){
    .elements__item {
        width: 216px;
        margin: 0 8px 8px 0;
    }
}
@media screen and (max-width: 457px){
    .elements__item {
        margin: 0 auto 20px;
        width: 300px;
    }
}
@media screen and (max-width: 320px){
    .elements__item {
        width: 282px;
        margin: 0 auto 20px;
    }
}