.elements__item {
    background-color: white;
    width: 282px;
    height: 361px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 17px 20px 0;
}
@media screen and (max-width: 1024px){
    .elements__item {
        width: 248px;
        height: 325px;
        margin: 0 8px 8px 0;
    }
}
@media screen and (max-width: 768px){
    .elements__item {
        width: 216px;
        margin: 0 8px 8px 0;
        height: 300px;
    }
}
@media screen and (max-width: 457px){
    .elements__item {
        margin: 0 auto 20px;
        height: 362px;
        width: 300px;
    }
}
@media screen and (max-width: 320px){
    .elements__item {
        min-width: 282px;
        height: 362px;
        margin: 0 19px 20px;
    }
}